<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h2>{{ name }}</h2>
    <p>{{ num }}</p>

    <!-- how to write any expressions in python on html file with jinja2 syntax. You always have to close your expressions in Jinja!! -->
    {% for i in range(0, num) %}
        <p>Hello {{ name }}!</p>
    {% endfor %} 

</body>
</html>