<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div id="wrapper">
        <div id="title-bar">
            <div id="title">
                <h1>*** Checkerboard ***</h1>
            </div>
        </div>
        <div id="checkerboard-box">
            <table class="checker-table">
                <tr>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                </tr>
                <tr>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                </tr>
                <tr>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                </tr>
                <tr>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                </tr>
                <tr>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                </tr>
                <tr>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                </tr>
                <tr>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                </tr>
                <tr>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                    <td class = "dark-color"></td>
                    <td class = "light-color"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>